#background{
    Position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: #CEE6CB; 
    z-index: -1;
}
#couleurMDP{
    color: #454545; 
}
.backgroundColorFonce{
    background-color: #F4F4F4;
}

.retourSansDeco a{
color: rgb(0, 0, 0) ;

}
.espaceRetour{
    padding-left: 100px;
}

#svg_panier{
    text-align: center;
}
.bordDeCarte{
    border-radius: 15px;
    background-color: #f7f7f7;
}
#creerUnCompteVert{
    color: #00A35C;
}
.design{
    margin-left: 58px;
}

.arrow-down{
    background-image: url("../img/triangle.svg");
    background-size: contain;
    z-index: 100;
    background-repeat: no-repeat;
    filter: drop-shadow(0rem 0.15rem 0.15rem rgba(0, 0, 0, 0.1));
}

.texteDeBienvenueTitre{
    text-align: center;
    font-weight: 1000;
}
.texteDeBienvenue{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    font-weight: 200;
}
.centrerCartes{
    text-align:center;
}
.texteAgauche{
    text-align: left;
}

.fondVert{
    width: 100%;
    background-color: #D4E9D1;
}
.backgroundColorFonceCartesVisite{
    background-image: url("../img/visitCard2.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.texteCartesVisite {
    color: white;
    margin: 4rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
}
.designChoisiGauche{
    text-align: left;
}
.imgDesignCDV{
    height: 80%;
    width: 80%;
}
.form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  }