#background{
    Position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: #CEE6CB; 
    z-index: -1;
}
#couleurMDP{
    color: #454545; 
}

.retourSansDeco a{
color: rgb(0, 0, 0) ;

}
.espaceRetour{
    padding-left: 100px;
}

#svg_panier{
    text-align: center;
}
.bordDeCarte{
    border-radius: 15px;
    background-color: #f7f7f7;
}
#creerUnCompteVert{
    color: #00A35C;
}